.input-container {
    display: flex;
    flex-direction: column;
  }

.styled-input {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Jura', sans-serif;
    color: #000000;
    outline: none;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .styled-input::placeholder {
    color: #000000;
    font-family: 'Jura', sans-serif;
  }
  
  .input-field-label {
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    margin-bottom: 4px;
    text-align: left;
  }