#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

